ul{
    background-color: silver;
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    justify-content: left;

}
a{
    text-decoration: none;
    color: black;

}
li:hover{
    background-color: lightgray;
    background-size: 500px ;
    padding: 10px;
    border-radius: 5px;
transition: 0.5s;
}
/* --- forms --- */
* {
  box-sizing: border-box;
  align-self: start;
}

.responsive-form {
  max-width: 600px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid darkred;;
  background-color:  #f2f2f2;
  padding: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

label {
  min-width: 48%;
  margin-bottom: 10px;
}

input[type=text], select {
  min-width: 45%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}
input[type=email], select {
  min-width: 45%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}


input[type=submit] {
  width: 100%;
  background-color:darkred;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  label,
  input[type=text],
  input[type=submit],
  select, textarea {
    flex: 100%;
    min-width: 100%;
  }
}
