*{
    margin:0px;

    padding:0px;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 10px;
    align-items: center;
}
.card{
    width: 300px;
    height: 400px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s;
}
.card img{
    width: 100%;
    height: 60%;
    border-radius: 5px;
    transition: 0.4s;
}
.card .yazi{
    width: 100%;
    height: 37%;
    background-color: #425F57;
    transform: translateY(-45px);
    opacity: 0.7;
    border-radius: 5px;
    color: white;
    transition: 0.4s;
}
.card .yazi h2{
    height: 29%;
    line-height: 50px;
    padding: 0px 10px;
}
.card .yazi p{
    height: 20%;
    line-height: 20px;
    padding: 0px 10px;      
    font-size: 15px;
}
.card:hover .yazi   {
    transform: translateY(-57%);
    
     }
.card:hover {
    box-shadow: 0px 0px 20px black;
    transform: translateY(-10px);
}
.card:hover img {
    transform: scale(1.1);
    transition: 0.4s;
}